@model FixedAssets.Logic.DepreciationPlanList
@{
    ViewBag.Title = "DepreciationView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
<h2>Amortyzacja wykonana</h2>
<table class="table">
    <tr>
        <th style="width: 25%;">
            @Html.DisplayNameFor(model => model.MonthYear)
        </th>
        <th style="text-align: right; width: 25%;">
            @Html.DisplayNameFor(model => model.TotalCurrentCharge)
        </th>
        <th style="text-align: right; width: 25%;">
            @Html.DisplayNameFor(model => model.TotalCumulativelyCharge)
        </th>
        <th style="text-align: right; width: 25%;">
            @Html.DisplayNameFor(model => model.TotalRemainingAmount)
        </th>
    </tr>

    @foreach (var item in Model.DepreciationPlans)
    {
        if (item.CurrentCharge != 0)
        {
            <tr>
                <td style="width: 25%;">
                    @Html.DisplayFor(modelItem => item.MonthYear)
                </td>
                <td align="right" style="padding-right: 15px; width: 25%;">
                    @Html.DisplayFor(modelItem => item.CurrentCharge)
                </td>
                <td align="right" style="padding-right: 15px; width: 25%;">
                    @Html.DisplayFor(modelItem => item.CumulativelyCharge)
                </td>
                <td align="right" style="padding-right: 15px; width: 25%;">
                    @Html.DisplayFor(modelItem => item.RemainingAmount)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table class="table">
                        @foreach (var item1 in item.Depreciacions)
                        {
                            <tr>
                                <td style="width: 25%;">
                                    @Html.DisplayFor(modelItem => item1.AssetName)
                                </td>
                                <td align="right" style="padding-right: 15px; width: 25%;">
                                    @Html.DisplayFor(modelItem => item1.CurrentCharge)
                                </td>
                                <td align="right" style="padding-right: 15px; width: 25%;">
                                    @Html.DisplayFor(modelItem => item1.CumulativelyCharge)
                                </td>
                                <td align="right" style="padding-right: 15px; width: 25%;">
                                    @Html.DisplayFor(modelItem => item1.RemainingAmount)
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    }
</table>

<table class="table">
    <tr>
        <td  style="width: 25%;">
            @Html.DisplayNameFor(model => model.Total)
        </td>
        <td align="right" style="padding-right: 15px; width: 25%;">
            @Html.DisplayFor(model => model.TotalCurrentCharge)
        </td>
        <td align="right" style="padding-right: 15px; width: 25%;">
            @Html.DisplayFor(model => model.TotalCumulativelyCharge)
        </td>
        <td align="right" style="padding-right: 15px; width: 25%;">
            @Html.DisplayFor(model => model.TotalRemainingAmount)
        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


