@model FixedAssets.Logic.YearMonths
@{
    ViewBag.Title = "DepreciationPlanParameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Parametry planu amortyzacji</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Month, new SelectList(Model.Months, "No", "No"), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Year, new SelectList(Model.Years, "No", "No"), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Wykonaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
