@model FixedAssets.Models.Asset

@{
    ViewBag.Title = "Amortyzacja środka trwałego";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProofOfPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProofOfPurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartUsingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartUsingDate)
        </dd>

        <dt align="right">
            @Html.DisplayNameFor(model => model.InitialValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialValue)
        </dd>

        <dt align="right">
            @Html.DisplayNameFor(model => model.AmortisedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmortisedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depreciated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depreciated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUsed)
        </dd>

        <dt>
            Lokalizacja środka
        </dt>

        <dd>
            @ViewBag.AssetLocation
        </dd>

        <dt>
            Rodzaj środka trwałego
        </dt>

        <dd>
            @ViewBag.AssetType
        </dd>

        <dt>
            Rodzaj oraz stawka amortyzacji
        </dt>

        <dd>
            @ViewBag.DepreciationType
        </dd>
    </dl>
</div>
<div>
    <dl colspan="2">
        <dt>
            @Html.ActionLink("Plan amortyzacji środka", "#")
        </dt>
        <dt>
            @Html.ActionLink("Naliczanie amortyzacji środka", "#")
        </dt>
        <dt>
            @Html.ActionLink("Pdgląd amortyzacji", "#")
        </dt>

    </dl>
</div>
<div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>