@model IEnumerable<FixedAssets.Models.ReasonForChanging>

@{
    ViewBag.Title = "Zmiana wartości";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
<h3>Przyczyna zmiany wartości środka trwałego</h3>

<p>
    @Html.ActionLink("Dodaj nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edycja", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
