@model FixedAssets.Models.EndOfLifeDisposal

@{
    ViewBag.Title = "Usuwanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
<h2>Usuwanie</h2>

<h3>Czy na pewno usunąć ten element?</h3>
<div>
    <h4>Dyspozycja ustylizacji</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisposalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisposalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndOfLifeReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndOfLifeReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisposalCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisposalCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisposedOfBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisposedOfBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
