@model IEnumerable<FixedAssets.Models.EndOfLifeDisposal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
<h2>Dyspozycje utylizacji</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisposalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndOfLifeReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisposalCompany)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.No.ToString("000")/@item.Year.ToString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisposalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndOfLifeReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisposalCompany)
        </td>
    </tr>
}

</table>
