<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Środki Trwałe</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jquery-ui/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/moment-with-locales.js")
    @Scripts.Render("~/Scripts/correctioOfValidate.js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <span class="icon-bar"></span>
                    }
                    @if (Request.IsAuthenticated && (User.IsInRole("Supervisor") || User.IsInRole("Employee")))
                    {
                        <span class="icon-bar"></span>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Supervisor"))
                    { 
                        <span class="icon-bar"></span>
                    }
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Strona Główna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && (User.IsInRole("Supervisor") || User.IsInRole("Employee")))
                    {
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Środki trwałe<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Lista środków", "Index", "Assets")</li>
                                    <li>@Html.ActionLink("Stany wyposażenia", "Index", "Equipment")</li>
                                    <li>@Html.ActionLink("Amortyzacja", "Index", "Depreciation")</li>
                                    <li>@Html.ActionLink("Utylizacja", "Index", "EndOfLifeDisposals")</li>

                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Supervisor"))
                    {
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Administracja<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Lokalizacje", "Index", "AssetLocations")</li>
                                <li>@Html.ActionLink("Rodz.środków", "Index", "AssetTypes")</li>
                                <li>@Html.ActionLink("Rodz.amort.", "Index", "DepreciationTypes")</li>
                                <li>@Html.ActionLink("Powod.zm.wart.", "Index", "ReasonForChangings")</li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Użytkownicy", "AdminUserList", "Admin")</li>
                    }
                    <li>@Html.ActionLink("O nas", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Katarzyna Jaczewska, Tomasz Nawrat</p>
        </footer>
    </div>
</body>
</html>
