@model FixedAssets.Models.Asset

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProofOfPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProofOfPurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartUsingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartUsingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmortisedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmortisedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depreciated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depreciated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUsed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepreciationTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepreciationTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetLocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetLocationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
