@model FixedAssets.Models.Asset

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
<h3>Szczegóły środka trwałego</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProofOfPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProofOfPurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartUsingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartUsingDate)
        </dd>

        <dt align="right">
            @Html.DisplayNameFor(model => model.InitialValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialValue)
        </dd>

        <dt align="right">
            @Html.DisplayNameFor(model => model.AmortisedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmortisedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depreciated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depreciated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUsed)
        </dd>

        <dt>
            Lokalizacja środka
        </dt>

        <dd>
           @ViewBag.AssetLocation
        </dd>

        <dt>
            Rodzaj środka trwałego
        </dt>

        <dd>
            @ViewBag.AssetType
        </dd>

        <dt>
            Rodzaj oraz stawka amortyzacji
        </dt>

        <dd>
            @ViewBag.DepreciationType
        </dd>
    </dl>
</div>
<div>
    @if (@ViewBag.ChangeInValueList.Count > 0)
    {
        <table>
            <tr>
                <th>Zmiany wartości środka trwałego</th>
            </tr>
            @foreach (var item in ViewBag.ChangeInValueList)
            {
                <tr>
                    <td>
                        Przyczyna zmiany
                    </td>
                    <td>
                        @item.ReasonForChangingName
                    </td>
                </tr>
                <tr>
                    <td>
                        Data zmiany
                    </td>
                    <td>
                        @item.ChangingDate.ToString("dd.MM.yyyy")
                    </td>
                </tr>
                <tr>
                    <td>
                        Wartość zmiany
                    </td>
                    <td>
                        @item.ValueOfChange
                    </td>
                </tr>
            }
        </table>
    }
    @if (ViewBag.EndOfLifeDisposal1 != "")
    {
        <table>
            <tr>
                <th>Dyspozycja utylizacji środka trwałego</th>
            </tr>
            <tr>
                <td>
                    Numer dyspozycji
                </td>
                <td>
                    @ViewBag.EndOfLifeDisposal2
                </td>
            </tr>
            <tr>
                <td>
                    Data dyspozycji
                </td>
                <td>
                    @ViewBag.EndOfLifeDisposal3
                </td>
            </tr>
            <tr>
                <td>
                    Przyczyna utylizacji
                </td>
                <td>
                    @ViewBag.EndOfLifeDisposal4
                </td>
            </tr>
            <tr>
                <td>
                    Osoba wprowadzająca dyspozycję
                </td>
                <td>
                    @ViewBag.EndOfLifeDisposal5
                </td>
            </tr>
            <tr>
                <td>
                    Firma utylizująca
                </td>
                <td>
                    @ViewBag.EndOfLifeDisposal6
                </td>
            </tr>
        </table>
    }
</div>
<br />
<div>
    <p>
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Powrót do listy", "Index")
    </p>
</div>