@model FixedAssets.Models.Asset
@{
    ViewBag.Title = "Edycja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
<h2>Edycja</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edycja środka trwałego</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.AssetName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InventoryNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InventoryNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InventoryNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProofOfPurchase, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProofOfPurchase, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProofOfPurchase, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartUsingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="Powyższe pole mysi zawierać datę!." data-val-required="Pole Przyjęto jest wymagane." id="StartUsingDate1" name="StartUsingDate1" type="datetime" value="@Model.StartUsingDate.Day.ToString("00").@Model.StartUsingDate.Month.ToString("00").@Model.StartUsingDate.Year.ToString("0000")" />
                <span class="field-validation-valid text-danger" data-valmsg-for="StartUsingDate1" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InitialValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InitialValue, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.InitialValue, "", new { @class = "text-danger" })
                @if (ViewBag.EndOfLifeDisposal1 == "")
                {
                    @Html.ActionLink("Zmień wartość początkową", "ModyfyInitialValue", new { @Model.Id })
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsUsed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsUsed)
                    @Html.ValidationMessageFor(model => model.IsUsed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="AssetLocationId">Lokalizacja środka</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AssetLocationId, (IEnumerable<SelectListItem>)ViewBag.AssetLocations, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AssetLocationId)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="AssetTypeId">Rodzaj środka</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AssetTypeId, (IEnumerable<SelectListItem>)ViewBag.AssetTypes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AssetTypeId)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DepreciationTypeId">Rodz. i stw. amortyzacji</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DepreciationTypeId, (IEnumerable<SelectListItem>)ViewBag.DepreciationTypes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepreciationTypeId)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (ViewBag.EndOfLifeDisposal1 == "")
                {
                    <input type="submit" value="Save" class="btn btn-default" />
                }
            </div>
        </div>
    </div>
    <div>
        @if (ViewBag.EndOfLifeDisposal1 == "")
        {
            @Html.ActionLink("Utylizacja środka", "EndOfLifeDisposal", new { @Model.Id })
        }
        else
        {
            <table>
                <tr>
                    <th>Dyspozycja utylizacji środka trwałego</th>
                </tr>
                <tr>
                    <td>
                        Numer dyspozycji
                    </td>
                    <td>
                        @ViewBag.EndOfLifeDisposal2
                    </td>
                </tr>
                <tr>
                    <td>
                        Data dyspozycji
                    </td>
                    <td>
                        @ViewBag.EndOfLifeDisposal3
                    </td>
                </tr>
                <tr>
                    <td>
                        Przyczyna utylizacji
                    </td>
                    <td>
                        @ViewBag.EndOfLifeDisposal4
                    </td>
                </tr>
                <tr>
                    <td>
                        Osoba wprowadzająca dyspozycję
                    </td>
                    <td>
                        @ViewBag.EndOfLifeDisposal5
                    </td>
                </tr>
                <tr>
                    <td>
                        Firma utylizująca
                    </td>
                    <td>
                        @ViewBag.EndOfLifeDisposal6
                    </td>
                </tr>
            </table>
        }
    </div>
}
<br />
<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

