@model IEnumerable<FixedAssets.Models.Asset>

@{
    ViewBag.Title = "Lista środków trwałych";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create") |
    @Html.ActionLink("Plan amortyzacji", "#") |
    @Html.ActionLink("Amortyzacja zbiorcza", "#") |
    @Html.ActionLink("Podgląd amortyzacji", "#")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.InventoryNo)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.StartUsingDate)
        </th>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.InitialValue)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.IsUsed)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssetName)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.InventoryNo)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.StartUsingDate, "{0:dd.MM.yyyy}")
        </td>
        <td align="right" style="padding-right: 25px;">
            @Html.DisplayFor(modelItem => item.InitialValue)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.IsUsed)
        </td>

        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
