@model IEnumerable<FixedAssets.Models.Asset>
@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
<h2>Elementy wyposażenia</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.InventoryNo)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.StartUsingDate)
        </th>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.InitialValue)
        </th>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.AmortisedValue)
        </th>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.RemainingAmount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.InventoryNo)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.StartUsingDate, "{0:dd.MM.yyyy}")
            </td>
            <td align="right" style="padding-right: 15px;">
                @Html.DisplayFor(modelItem => item.InitialValue)
            </td>
            <td align="right" style="padding-right: 15px;">
                @Html.DisplayFor(modelItem => item.AmortisedValue)
            </td>
            <td align="right" style="padding-right: 15px;">
                @Html.DisplayFor(modelItem => item.RemainingAmount)
            </td>
        </tr>
    }

</table>

<div>
        @Html.ActionLink("Powrót do listy", "Index")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}